.bullets {
  stroke: rgb(10, 10, 4);
  fill:rgb(233, 247, 36);
}

.cabbage {
  stroke: rgb(30, 255, 0);
  fill:rgb(93, 195, 73);
}

.laser {
  stroke: rgb(30, 255, 0);
  fill:rgb(59, 164, 190, 0.7);
}
