.bullets {
  stroke: rgb(10, 10, 4);
  fill:rgb(233, 247, 36);
}

.bomb {
  stroke: rgb(30, 255, 0);
  fill:rgb(93, 195, 73);
}

.laser {
  stroke: rgb(30, 255, 0);
  fill:rgb(164, 87, 226);
}

.missile {
  stroke: rgb(30, 255, 0);
  fill:rgba(0, 0, 0, 0.7);
}
