.stats-container {
  display:flex;
  justify-content: space-between;
  margin-right: 50%;

}

.stats {
  font-size:30px;
}

.menu-buttons {
  margin-left:40%;
  margin-top:3%;

}
.menu-button {
  font-size:30px;

}