.currentPlant{
  stroke: rgb(30, 255, 0);
  fill:rgb(241, 58, 34);
}

.select:hover {
  stroke: #090;
  fill:yellowgreen;
}

.selected{
  stroke: rgb(30, 255, 0);
  fill:rgb(241, 58, 34, 0.2);
}
.noplant {

  stroke: rgb(30, 255, 0);
  fill:rgb(255, 255, 255);
}



.peaShooter {
  stroke: rgb(30, 255, 0);
  fill:rgb(233, 247, 36);
}

.Laser {
  stroke: rgb(30, 255, 0);
  fill:rgb(39, 147, 235);
}


.Cabbage {
  stroke: rgb(30, 255, 0);
  fill:rgb(93, 195, 73);
}

.Missile {
  stroke: rgb(30, 255, 0);
  fill:rgb(0, 0, 0);
}