.currentPlant{
  stroke: rgb(30, 255, 0);
  fill:rgb(241, 58, 34);
}

.select:hover {
  stroke: #090;
  fill:rgba(218, 140, 38, 0.2);
}

.selected{
  stroke: rgb(30, 255, 0);
  fill:rgb(241, 58, 34, 0.1);
}
.noplant {

  stroke: rgb(30, 255, 0);
  fill:rgba(131, 238, 82, 0.1);
}



.peaShooter {
  stroke: rgb(30, 255, 0);
  fill:rgb(233, 247, 36);
}

.Laser {
  stroke: rgb(30, 255, 0);
  fill:rgb(39, 147, 235);
}


.Bomb {
  stroke: rgb(30, 255, 0);
  fill:rgb(93, 195, 73);
}

.Missile {
  stroke: rgb(30, 255, 0);
  fill:rgb(0, 0, 0);
}