.currentPlant{
  stroke: rgb(30, 255, 0);
  fill:rgb(241, 58, 34);
}

.select:hover {
  stroke: #090;
  fill:yellowgreen;
}

.selected{
  stroke: rgb(30, 255, 0);
  fill:rgb(241, 58, 34);
}
.noplant {

  stroke: rgb(30, 255, 0);
  fill:rgb(255, 255, 255);
}



.peaShooter {
  stroke: rgb(30, 255, 0);
  fill:rgb(108, 233, 86);
}


.Cabbage {
  stroke: rgb(30, 255, 0);
  fill:rgb(58, 110, 48);
}